<!doctype html>
<html>
    <head>
        <title>Editor</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/agate.min.css" type="text/css" />
        <link rel="stylesheet" href="/fa-icons/css/all.css" type="text/css" />
        <link rel="stylesheet" href="/css/editor.css" type="text/css" />
    </head>
    <body>
        <header>
            <i class="bars fa fa-bars"></i>
            <h3 class="logo">WebEditor</h3>
            <img id="profile" src="/user.png" alt="profile image" />
            <div class="profile_dialog">
                <img src="/user.png" alt="img placeholder" />
                <p id="name"></p>
                <button id="run_btn" hidden>Run</button>
                <button id="save_btn" hidden>Save</button>
                <button id="preview_btn" hidden>Preview</button>
                <button id="format_btn" hidden>Format</button>
                <button id="logout_btn">Log Out</button>
            </div>
        </header>
        <main>
            <div class="sidebar_left">
                <div class="project_input_field">
                    <input type="text" id="project" />
                    <img src="/new_folder.png" id="cr_pr_btn" />
                </div>
                <div id="progressBar"></div>
                <h4>Projects</h4>
                <div id="projectsHierarchy"></div>
                <h4>Active Project</h4>
                <div id="filesHierarchy"></div>
            </div>

            <div class="editor_container">
                <div class="container">
                    <h2>you haven't any project</h2>
                    <button>Let's create a new</button>
                </div>
                <div class="editor">
                    <div id="col_numbers"></div>
                    <pre><code contenteditable="true"></code></pre>
                </div>
            </div>
            <div id="consoleTab"></div>
        </main>

        <script
            src="/js/highlight.min.js"
            type="text/javascript"
            charset="utf-8"
        ></script>
        <script
            src="/js/useState.js"
            type="text/javascript"
            charset="utf-8"
        ></script>
        <script
            src="/js/editor.js"
            type="text/javascript"
            charset="utf-8"
        ></script>
    </body>
</html>
